/* custom styles */

figure.instructor-bio {
    /* float: left; */
    margin-left: 0;
    margin-top: 0;
}

figure.instructor-bio img {
    width: 200px;
    max-width: 200px;
    height: 200px;
    border-radius: 100px;
    max-width: auto;
}

.flex-parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*flex-direction: flex-start;*/
    flex-wrap: wrap;
}

figure.flex-child {
    flex-basis: 25%;
}

p.flex-child {
    /* flex-grow: 1;*/
    flex-basis: 60%;
}
